body {
  background-color: #f8f9fa;
}

.sidebar-lateral {
  position: fixed;
  top: 56px; /* altura navbar */
  left: 0;
  width: 250px;
  height: 100%;
  background: #ffffff;
  border-right: 1px solid #ddd;
  padding-top: 1rem;
}

.sidebar-btn {
  color: #333;
  transition: all 0.3s;
}

.sidebar-btn:hover,
.sidebar-btn.active {
  background: #f0f2f5;
  border-radius: 8px;
  color: #0d6efd;
}

.contenido-principal {
  margin-left: 250px;
  padding-top: 70px;
  min-height: 100vh;
}

.producto-card img {
  height: 200px;
  object-fit: cover;
}
